.Rproj.user
.Rhistory
.RData
*.Rproj
**/.deps
**/.libs
**/.dirstamp
**/*.lo
**/*.o
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libfmptools.la
libtool
ltmain.sh
Makefile
Makefile.in
missing
readstat
test-driver
autom4te.cache/*
output.*
test-suite.log
*.log
*.trs
.vscode/
*.swp
dev/
tmp.*
fmp2excel
fmp2json
fmpdump
*.tar.gz
*.zip
.DS_Store
